
@{
    ViewData["Title"] = "Home Page";
    int i = 0;
}
<h1>Device List:</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Device Name</th>
            <th scope="col">Device Category</th>
            <th scope="col">Acquisition Date</th>
            <th scope="col">Memo</th>
            <th scope="col">Edit Device</th>
            @*@foreach (var item in ViewBag.devices){
                @foreach (var p in item.Property)
                {
                    <th scope="col">@p.Name</th>
                }        
            }*@
        </tr>
    
    </thead>
    <tbody>
        @foreach (var item in ViewBag.devices)
        {
            <tr>

                <td>@(++i)</td>
                <td>@item.Name</td>
                <td>@item.CategoryId</td>
                <td>@item.AcquisitionDate\</td>
                <td>@item.Memo</td>
                <td>
                    <a class="btn btn-warning" asp-action="EditDevice" asp-controller="Home" asp-route-id="@item.Id">Edit</a>
                </td>

                @*@foreach (var p in item.PropertyValues){
                    <td>@p.Values</td>
                }*@
            </tr>
        }

    </tbody>
</table>

<a class="btn btn-primary" asp-action="AddDevice" asp-controller="Home"> Add New Device</a>
